extends ../layouts/default

mixin post(post)
	.post(data-ks-editable=editable(user, { list: 'Post', id: post.id }))


		if post.image.exists
			.col-xs-4.col-sm-4.col-md-3.gallery-image
				a(href='/blog/post/' + post.slug)
					img(src=post._.image.fit(300, 300)).img-rounded
				if post.publishedDate
				p: a(href='/blog/post/' + post.slug)= post.title
				p= post._.publishedDate.format('Do MMM YYYY')

block intro
	.container
		h1= data.category ? 'Category: ' + data.category.name : 'Overview'
	script.
		window.onload = function () {
			$('a.ks-editable-btn').attr("style",'opacity: 0; top: 0')
			$('a.ks-editable-btn').text('Edit Image')
		};


block content
	.container: .row
		.col-sm-8.col-md-9
			if filters.category && !data.category
				h3.text-muted Invalid Category.
			else
				if data.posts.results.length
					if data.posts.totalPages > 1
						h4.text-weight-normal Showing
							strong #{data.posts.first}
							|  to
							strong #{data.posts.last}
							|  of
							strong #{data.posts.total}
							|  images.
					else
						h4.text-weight-normal Showing #{utils.plural(data.posts.results.length, '* image')}.

					.col-sm-12.col-md-12
						- var i = 0
						each post in data.posts.results
							- if (i % 4 === 0 || i === 0) {
								.row
							- }
							+post(post)
							- i++


					if data.posts.totalPages > 1
						ul.pagination
							if data.posts.previous
								li: a(href='?page=' + data.posts.previous): span.glyphicon.glyphicon-chevron-left
							else
								li.disabled: a(href='?page=' + 1): span.glyphicon.glyphicon-chevron-left
							each p, i in data.posts.pages
								li(class=data.posts.currentPage == p ? 'active' : null)
									a(href='?page=' + (p == '...' ? (i ? data.posts.totalPages : 1) : p ))= p
							if data.posts.next
								li: a(href='?page=' + data.posts.next): span.glyphicon.glyphicon-chevron-right
							else
								li.disabled: a(href='?page=' + data.posts.totalPages): span.entypo.glyphicon.glyphicon-chevron-right
				else
					if data.category
						h3.text-muted There are no images in the category #{data.category.name}.
					else
						h3.text-muted There are no images yet.

		if data.categories.length
			.col-sm-4.col-md-3
				h2 Categories
				.list-group(style='margin-top: 70px;')
					a(href='/blog', class=!data.category ? 'active' : false).list-group-item All Categories
					each cat in data.categories
						a(href='/blog/' + cat.key, class=data.category && data.category.id == cat.id ? 'active' : false).list-group-item= cat.name